footer.home-footer{
    text-align: center;
    margin-top: 100px;
}

footer section{
    margin: 0px 60px;
}

footer section i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

footer.home-footer .info-buy{

}

footer.home-footer .info-buy i{
    
}

footer.home-footer .info-buy h3{
    color: var(--gris-oscuro);
    
}

footer.home-footer .info-buy p{
    
}

/*---------------------------------------*/

footer.home-footer .info-send{
    
}

footer.home-footer .info-send i{
    
}

footer.home-footer .info-send h3{
    color: var(--gris-oscuro);
}

footer.home-footer .info-send p{
    
}

/*---------------------------------------*/

footer.home-footer .info-return{
    
}

footer.info-copy .info-return i{
    
}

footer.home-footer .info-return h3{
    color: var(--gris-oscuro);
}

footer.home-footer .info-return p{
    
}

/*---------------------------------------*/

footer.home-footer .info-copy{

}

footer.home-footer .info-copy p{
    margin-top: 40px;
}