main.home-main{
    background-color: var(--gris-claro);
    padding-bottom: 20px;
}

main.home-main .home-banner{
    width: 100%;
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
}

main.home-main .last-visit{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main.home-main .last-visit h3{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}

/*----------------------------------------*/

main.home-main .last-visit .product{
    background-color: var(--blanco);
    margin: 50px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    /*margin: 15px 0;*/
}

main.home-main .last-visit .product .description{
    margin: 0px 15px; 
    padding-bottom: 5px;
}

main.home-main .last-visit .product .description{ 
    
}

main.home-main .last-visit .product .shipping-logo{
    color: var(--verde);
    position: relative;
    flex-wrap: wrap;
    margin-left: 80%;
}

main.home-main .last-visit .product .shipping-logo .fa-circle{
    font-size: 40px;
}

main.home-main .last-visit .product .shipping-logo .fa-truck{
    position: absolute;
    right: 0;
    left: 11px;
    top: 11px;
    bottom: 0;
}

main.home-main .product img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.home-main .product p.price{
    margin: 2px auto;
    display: inline;
}

main.home-main .product p.discount{
    color: var(--verde);
    margin-top: 0px;
    display: inline;
}


main.home-main .product p.name {
}


/*---------------------------------------*/

main.home-main section.offers{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main.home-main section.offers h3.section-title{
  font-size: var(--titulares);
  color: var(--grisOscuro);
}

main.home-main section.offers .product-offer{
  background-color: var(--blanco);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin: 50px 0px;
}

main.home-main section.offers .product-offer .description{
    margin: 0px 15px; 
    padding-bottom: 5px;
}

main.home-main .offers .product-offer .shipping-logo{
    color: var(--verde);
    position: relative;
    flex-wrap: wrap;
    margin-left: 80%;
    
}

main.home-main .offers .product-offer:hover .shipping-logo{
}

main.home-main .offers .product-offer .shipping-logo .fa-circle{
    font-size: 40px;
}

main.home-main .offers .product-offer .shipping-logo .fa-truck{
    position: absolute;
    right: 0;
    left: 11px;
    top: 11px;
    bottom: 0;
}

main.home-main .offers .product-offer img{
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

main.home-main section.offers .product-offer .price{
    margin: 2px auto;
    display: inline;
}

main.home-main section.offers .product-offer .discount{
    color: var(--verde);
    margin-top: 0px;
    display: inline;
}

main.home-main section.offers .product-offer .name{
}

/* ------ MEDIA QUERIES --------- */

/* ------ TABLET --------- */
@media (min-width: 361px) {
main.home-main{
}

main.home-main .home-banner{

}

main.home-main .last-visit{
}

main.home-main .last-visit h3{
}

/*----------------------------------------*/

main.home-main .last-visit .product{
    display: inline-block;
    margin: 10px 15px;
    width: 40%;
    padding-bottom: 10px;
}

main.home-main .last-visit .product .description{

}

main.home-main .last-visit .product .shipping-logo{

}

main.home-main .last-visit .product .shipping-logo .fa-circle{

}

main.home-main .last-visit .product .shipping-logo .fa-truck{

}

main.home-main .product img{
    width: 20vw;
}

main.home-main .product p.price{

}

main.home-main .product p.discount{

}

main.home-main .product p.name{
    display: none;
    transition: opacity 0.5s ease;
}

main.home-main .product p.name:hover{
    display: none;
}

/*---------------------------------------*/

main.home-main section.offers{
}

main.home-main section.offers h3.section-title{
}

main.home-main section.offers .product-offer{
    display: inline-block;
    margin: 10px 15px;
    width: 40%;
    padding-bottom: 10px;
}

main.home-main section.offers .product-offer .description{

}

main.home-main .offers .product-offer .shipping-logo{
    color: var(--verde);
    position: relative;
    transition: transform 1s ease;
}

main.home-main .offers .product-offer .shipping-logo:hover{
    transform: rotate(90deg);
}

main.home-main .offers .product-offer .shipping-logo .fa-circle{
    font-size: 40px;
}

main.home-main .offers .product-offer .shipping-logo .fa-truck{
    position: absolute;
    right: 0;
    left: 11px;
    top: 11px;
    bottom: 0;
}

main.home-main .offers .product-offer img{
    width: 20vw;
}

main.home-main section.offers .product-offer .price{
    margin: 2px auto;
    display: inline;
}

main.home-main section.offers .product-offer .discount{
    color: var(--verde);
    margin-top: 0px;
    display: inline;
}

main.home-main section.offers .product-offer .name{
    
}
}

/* ------ DESKTOP --------- */
@media (min-width: 769px) {
main.home-main{
}

main.home-main .home-banner{

}

main.home-main .last-visit{
    
}

main.home-main .last-visit h3{
}

/*----------------------------------------*/

main.home-main .last-visit .product{
    display: inline-block;
    margin: 10px 15px;
    width: 20vw;
    left: 100px;
    transition: opacity 0.5s ease;
}

main.home-main .last-visit .product:hover{
    box-shadow: 0px 0px 10px rgba(234, 201, 38, 5); 
}

main.home-main .last-visit .product .description{

}

main.home-main .last-visit .product .shipping-logo{
    transition: transform 1s ease;
}

main.home-main .last-visit .product:hover .shipping-logo{
    transform: rotate(90deg);
}

main.home-main .last-visit .product .shipping-logo .fa-circle{

}

main.home-main .last-visit .product .shipping-logo .fa-truck{

}

main.home-main .product img{
    width: 20vw;
}

main.home-main .product p.price{

}

main.home-main .product p.discount{

}

main.home-main .product p.name{
    display: none;
}

main.home-main .product:hover p.name{
    display: block;
}

/*---------------------------------------*/

main.home-main section.offers{
}

main.home-main section.offers h3.section-title{
}

main.home-main section.offers .product-offer{
    display: inline-block;
    margin: 10px 15px;
    width: 20vw;
    transition: opacity 0.5s ease;
}

main.home-main section.offers .product-offer:hover{
    box-shadow: 0px 0px 10px rgba(234, 201, 38, 5);
}

main.home-main section.offers .product-offer .description{

}

main.home-main .offers .product-offer .shipping-logo{
    color: var(--verde);
    position: relative;
    transition: transform 1s ease;
}

main.home-main .offers .product-offer:hover .shipping-logo{
    transform: rotate(90deg);
}

main.home-main .offers .product-offer .shipping-logo .fa-circle{
  font-size: 40px;
}

main.home-main .offers .product-offer .shipping-logo .fa-truck{
    position: absolute;
    /*right: 0;
    left: 11px;
    top: 11px;
    bottom: 0;*/
}

main.home-main .offers .product-offer img{
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.home-main section.offers .product-offer .price{
    margin: 2px auto;
    display: inline;
}

main.home-main section.offers .product-offer .discount{
    color: var(--verde);
    margin-top: 0px;
    display: inline;
}

main.home-main section.offers .product-offer .name{
    display: none;
}

main.home-main section.offers .product-offer:hover .name{
    display: block;
}
}